<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- DAO랑 DB랑 작업할 때 필요한 SQL을 불러오게 해줍니다. -->
<mapper namespace="member">
   <select id="list" resultType="com.poseidon.web.MemberDTO">
    SELECT * FROM member
   </select>
   
   
   
   
   
</mapper>
